<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://" 
      value="{{student.avatar_url}}">
  </div>
</div>

<div class="item">
  <div>Estudante</div>
  <div>
    <input 
      type="text" 
      name="name" 
      placeholder="Nome do Estudante" 
      value="{{student.name}}">
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth" 
      value="{{student.birth}}">
  </div>
</div>

<div class="item">
  <div>Email</div>
  <div>
    <input 
      type="email" 
      name="email" 
      value="{{student.email}}">
  </div>
</div>

<div class="item">
  <div>Ano escolar</div>
  <div>
      <select name="school_year">
        <option value="5EF" {% if student.school_year == '5EF' %} selected="selected" {% endif %}>
            5º ano do Ensino Fundamental
        </option>
        <option value="6EF" {% if student.school_year == '6EF' %} selected="selected" {% endif %}>
            6º ano do Ensino Fundamental
        </option>
        <option value="7EF" {% if student.school_year == '7EF' %} selected="selected" {% endif %}>
            7º ano do Ensino Fundamental
        </option>
        <option value="8EF" {% if student.school_year == '8EF' %} selected="selected" {% endif %}>
            8º ano do Ensino Fundamental
        </option>
        <option value="1EM" {% if student.school_year == '1EM' %} selected="selected" {% endif %}>
            1º ano do Ensino Médio
        </option>
        <option value="2EM" {% if student.school_year == '2EM' %} selected="selected" {% endif %}>
           2º ano do Ensino Médio
        </option>
        <option value="3EM" {% if student.school_year == '3EM' %} selected="selected" {% endif %}>
            3º ano do Ensino Médio
      </select>
  </div>
</div>

<div class="item">
  <div>Carga horária semanal (h)</div>
  <div>
    <input 
      type="number" 
      name="hours" 
      value="{{student.hours}}">
  </div>
</div>

<button type="submit">Salvar</button>