<script>

  const formDelete = document.querySelector("#form-delete");
  formDelete.addEventListener('submit', function (event) {
    const confirmation = confirm("DESEJA DELETAR O CADASTRO?");
    if (!confirmation) {
      event.preventDefault();
    }
  })
</script>